.v-toolbar__content {
    padding: 0 !important;
    height: auto !important;
}

.v-input__slot {
    margin-bottom: 0 !important;
}

.v-toolbar[data-booted=true] {
    left: 50%;
    transform: translate(-50%) !important;
}


.container {
    padding: 0 !important;
}

.pass {
    fill: aliceblue;
}

.shelf-bg {
    fill: rgb(239, 216, 185);
}
